<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<!--    <context-param>-->
<!--      <param-name>sql-driver</param-name>-->
<!--      <param-value>com.mysql.cj.jdbc.Driver</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--      <param-name>sql-url</param-name>-->
<!--      <param-value>jdbc:mysql://47.93.33.34:3306/xhealthcode?useSSL=false&amp;serverTimezone=UTC</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--      <param-name>sql-user</param-name>-->
<!--      <param-value>root</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--      <param-name>sql-password</param-name>-->
<!--      <param-value>cht@mysql</param-value>-->
<!--    </context-param>-->
    <listener>
      <listener-class>
        listeners.InitializationListener
      </listener-class>
    </listener>

</web-app>